# Ejercicios sobre la base de datos Sporting Goods

## Configuración del entorno

Asegurarse de seguir estos pasos para configurar el entorno de trabajo:

* Instalar los paquetes necesarios para trabajar con bases de datos en Jupyter Notebook (si no están ya instalados).

* Importar la extensión SQL en Jupyter Notebook para ejecutar consultas SQL directamente desde las celdas del notebook.

* Cargar la extensión SQL y conectarse a la base de datos Sporting Goods utilizando la URI de conexión a la instalación de MySQL utilizada.

Connecting to 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

* Ejecutar el [script de inicialización de la base de datos](https://raw.githubusercontent.com/ualmtorres/dbds-tutorial/refs/heads/gh-pages/SG/SG.sql) para crear las tablas y cargar los datos iniciales en la base de datos Sporting Goods. Para más información, consultar el [esquema de base de datos Sporting Goods](https://ualmtorres.github.io/dbds-tutorial/models/SG.pdf).

### Listar productos (muestra)

Enunciado: Mostrar id y nombre de productos ordenados por nombre (limitado a 10 resultados).

Running query in 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

10 rows affected.

+-------+--------------------------+
|   id  |           name           |
+-------+--------------------------+
| 10012 |       Ace Ski Boot       |
| 10022 |       Ace Ski Pole       |
| 40421 | Alexeyer Pro Lifting Bar |
| 50418 |       Alomar Glove       |
| 20512 |  Black Hawk Elbow Pads   |
| 20510 |   Black Hawk Knee Pads   |
| 10011 |        Bunny Boot        |
| 10021 |      Bunny Ski Pole      |
| 50530 |       Cabrera Bat        |
| 50273 |      Chapman Helmet      |
+-------+--------------------------+
Truncated to displaylimit of 10.

### Contar productos

Enunciado: Obtener el número total de productos en la tabla `s_product`.

Running query in 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

1 rows affected.

+-----------------+
| total_productos |
+-----------------+
|        33       |
+-----------------+

### Inventario en almacén 101

Enunciado: Mostrar los siguientes datos de los 10 primeros productos del almacén `101`: Mostrar `product_id`, `amount_in_stock` y `reorder_point`.

Running query in 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

10 rows affected.

+------------+-----------------+---------------+
| product_id | amount_in_stock | reorder_point |
+------------+-----------------+---------------+
|   10011    |       650       |      625      |
|   10012    |       600       |      560      |
|   10013    |       400       |      400      |
|   10021    |       500       |      425      |
|   10022    |       300       |      200      |
|   10023    |       400       |      300      |
|   20106    |       993       |      625      |
|   20108    |       700       |      700      |
|   20201    |       802       |      800      |
|   20510    |       1389      |      850      |
+------------+-----------------+---------------+
Truncated to displaylimit of 10.

### Stock por almacén y producto

Enunciado: Mostrar `product_id`, nombre del producto, `warehouse_id` y `amount_in_stock` para los productos cuyo nombre contiene el texto `Prostar` y que están en los almacenes `301` o `401`. Ordenar por `warehouse_id` y `product_id`. Limitar a 10 resultados.

Running query in 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

10 rows affected.

+------------+--------------------------+--------------+-----------------+
| product_id |       product_name       | warehouse_id | amount_in_stock |
+------------+--------------------------+--------------+-----------------+
|   41010    | Prostar 10 Pound Weight  |     301      |        59       |
|   41020    | Prostar 20 Pound Weight  |     301      |        61       |
|   41050    | Prostar 50 Pound Weight  |     301      |        49       |
|   41080    | Prostar 80 Pound Weight  |     301      |        50       |
|   41100    | Prostar 100 Pound Weight |     301      |        42       |
|   41010    | Prostar 10 Pound Weight  |     401      |        80       |
|   41020    | Prostar 20 Pound Weight  |     401      |        91       |
|   41050    | Prostar 50 Pound Weight  |     401      |       169       |
|   41080    | Prostar 80 Pound Weight  |     401      |       100       |
|   41100    | Prostar 100 Pound Weight |     401      |        75       |
+------------+--------------------------+--------------+-----------------+
Truncated to displaylimit of 10.

### Stock total por almacén

Enunciado: Calcular el stock total disponible por cada almacén (suma de `amount_in_stock`). Mostrar `warehouse_id` y `total_stock` y ordenar por `total_stock` de forma descendente.

Running query in 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

5 rows affected.

+--------------+-------------+
| warehouse_id | total_stock |
+--------------+-------------+
|     101      |    26178    |
|    10501     |     5326    |
|     401      |     2986    |
|     201      |     2813    |
|     301      |     874     |
+--------------+-------------+

### Ventas totales por producto (importe)

Enunciado: Calcular las ventas totales por producto como SUM(quantity * price) usando las tablas `s_item` y `s_ord` (suponiendo que todas las filas en `s_item` corresponden a pedidos facturados). Mostrar `product_id`, nombre del producto y `ventas_totales`.  Presentar en orden descendente de ventas y limitar a 10 resultados.

Running query in 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

10 rows affected.

+------------+--------------------+----------------+
| product_id |    product_name    | ventas_totales |
+------------+--------------------+----------------+
|   30326    |  Himalaya Bicycle  |   1222200.00   |
|   30321    | Grand Prix Bicycle |   373751.00    |
|   10013    |    Pro Ski Boot    |   152000.00    |
|   10012    |    Ace Ski Boot    |   105000.00    |
|   10011    |     Bunny Boot     |    88500.00    |
|   20201    |   World Cup Net    |    23068.00    |
|   10023    |    Pro Ski Pole    |    14400.00    |
|   50418    |    Alomar Glove    |    10575.00    |
|   20106    | Junior Soccer Ball |    10100.00    |
|   30433    |    New Air Pump    |    9300.00     |
+------------+--------------------+----------------+
Truncated to displaylimit of 10.

### Cantidad vendida por producto

Enunciado: Calcular la cantidad total vendida por producto (SUM(`quantity`)). Mostrar `product_id`, nombre del producto y `cantidad_total_vendida`. Ordenar por cantidad en orden descendente y limitar a 10 resultados.

Running query in 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

10 rows affected.

+------------+--------------------+------------------------+
| product_id |    product_name    | cantidad_total_vendida |
+------------+--------------------+------------------------+
|   30326    |  Himalaya Bicycle  |          2100          |
|   20106    | Junior Soccer Ball |          1100          |
|   10011    |     Bunny Boot     |          650           |
|   10012    |    Ace Ski Boot    |          600           |
|   30426    |   Himalaya Tires   |          500           |
|   10021    |   Bunny Ski Pole   |          500           |
|   30433    |    New Air Pump    |          465           |
|   10013    |    Pro Ski Boot    |          400           |
|   10023    |    Pro Ski Pole    |          400           |
|   10022    |    Ace Ski Pole    |          300           |
+------------+--------------------+------------------------+
Truncated to displaylimit of 10.

### Ventas por región

Enunciado: Calcular las ventas totales de pedidos por nombre de región. Mostrar `region_name` y `ventas_region`, ordenado por `ventas_region` descendente.

Running query in 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

6 rows affected.

+----------------------------+---------------+
|           region           | ventas_region |
+----------------------------+---------------+
|       North America        |   1626344.13  |
|           Europe           |   183313.00   |
|    Africa / Middle East    |   149570.00   |
|       South America        |   100779.00   |
|            Asia            |    15763.60   |
| Central America /Caribbean |    2722.24    |
+----------------------------+---------------+

### Stock total por producto

Enunciado: Obtener, para cada producto, el stock total sumando existencias en inventario. Mostrar `product_id`, nombre del producto y total de stock de aquellos productos con stock mayor que 2000 unidades. Ordenar por stock descendente.

Running query in 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

6 rows affected.

+-------+--------------------------+-------------+
|   id  |           name           | total_stock |
+-------+--------------------------+-------------+
| 30426 |      Himalaya Tires      |     3008    |
| 50169 |  Major League Baseball   |     2995    |
| 32779 |   Slaker Water Bottle    |     2817    |
| 30326 |     Himalaya Bicycle     |     2637    |
| 30321 |    Grand Prix Bicycle    |     2477    |
| 30421 | Grand Prix Bicycle Tires |     2301    |
+-------+--------------------------+-------------+

### Productos sin stock en algún almacén

Enunciado: Listar los productos que aparecen con cantidad 0 en inventario (mostrar `product_id`, `warehouse_id` y `cantidad`).

Running query in 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

3 rows affected.

+------------+--------------+-----------------+
| product_id | warehouse_id | amount_in_stock |
+------------+--------------+-----------------+
|   30433    |     401      |        0        |
|   40422    |     101      |        0        |
|   50532    |     101      |        0        |
+------------+--------------+-----------------+

### Clientes por región

Enunciado: Mostrar el número de clientes por región. Mostrar `region` y `num_clientes`, ordenado por `num_clientes` en orden descendente.

Running query in 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

6 rows affected.

+----------------------------+--------------+
|           region           | num_clientes |
+----------------------------+--------------+
|       North America        |      13      |
|           Europe           |      4       |
|       South America        |      3       |
|    Africa / Middle East    |      2       |
|            Asia            |      2       |
| Central America /Caribbean |      1       |
+----------------------------+--------------+

### Pedidos de gran importe

Enunciado: Listar los pedidos cuyo total sea superior a 100000. Mostrar `id`, `customer_id`, `date_ordered` y `total`. La ordenación será por `total` descendente y la fecha se mostrará en formato 'DD-MM-YYYY'.

Running query in 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

4 rows affected.

+-----+-------------+-------------+------------+
|  id | customer_id |    fecha    |   total    |
+-----+-------------+-------------+------------+
| 109 |     213     | 08-Sep-1992 | 1020935.00 |
| 100 |     204     | 31-Aug-1992 | 601100.00  |
| 108 |     212     | 07-Sep-1992 | 149570.00  |
| 107 |     211     | 07-Sep-1992 | 142171.00  |
+-----+-------------+-------------+------------+

### Top vendedores por ventas totales

Enunciado: Calcular las ventas totales en pedidos gestionads por cada representante de ventas (sales_rep). Mostrar `id` del empleado, nombre (`first_name` + `last_name`) y suma de totales. Mostrar en orden descendente de suma de totales y mostrar top 5.

Running query in 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

4 rows affected.

+----+-----------------+----------------+
| id |      nombre     | ventas_totales |
+----+-----------------+----------------+
| 11 | Colin Henderson |   1629443.37   |
| 13 |  Jason Sanders  |   182000.00    |
| 14 |  Andre Dameron  |   158529.60    |
| 12 |    Sam Gilson   |   108519.00    |
+----+-----------------+----------------+

### Inventario que necesita reposición

Enunciado: Listar las líneas de inventario cuyo `amount_in_stock` sea menor o igual al `reorder_point` (o con `amount_in_stock` `NULL`). Mostrar `product_id`, `warehouse_id`, `amount_in_stock` y `reorder_point`.

Running query in 'mysql+pymysql://avnadmin:***@mysql-165f1e5f-dbds.b.aivencloud.com:28830/defaultdb'

12 rows affected.

+------------+--------------+-----------------+---------------+
| product_id | warehouse_id | amount_in_stock | reorder_point |
+------------+--------------+-----------------+---------------+
|   10012    |    10501     |       300       |      300      |
|   10013    |     101      |       400       |      400      |
|   20108    |     101      |       700       |      700      |
|   20512    |     101      |       850       |      850      |
|   20512    |     401      |        75       |       75      |
|   30433    |     201      |       130       |      130      |
|   30433    |     401      |        0        |      100      |
|   40422    |     101      |        0        |      350      |
|   41010    |     101      |       250       |      250      |
|   41080    |     101      |       400       |      400      |
+------------+--------------+-----------------+---------------+
Truncated to displaylimit of 10.