En primer lugar, cargamos la extensión de Jupyter para SQL:

In [ ]:
%load_ext sql

A continuación, establecemos la conexión a la base de datos MySQL utilizando las credenciales proporcionadas. Para este caso, vamos a usar una base de datos con datos financieros de ejemplo. Esta base de datos es accesible públicamente para fines educativos. Se trata de una base de dtos organizada en varias tablas que contienen información sobre clientes, cuentas, transacciones y productos financieros. Las credenciales son las siguientes:

* Usuario: guest
* Contraseña: ctu-relational
* Host: relational.fel.cvut.cz
* Base de datos: financial

Para conectarnos desde Jupyter Notebook a esta base de datos MySQL, utilizamos la siguiente cadena de conexión:

In [ ]:
%%sql
mysql+pymysql://guest:ctu-relational@relational.fel.cvut.cz/financial

En primer lugar vamos a conocer las tablas que componen esta base de datos. Para ello, ejecutamos la siguiente consulta SQL:

In [ ]:
%%sql
SHOW TABLES;

El diagrama correspondiente a esta base de datos es el siguiente y está disponible en la URL: `https://relational.fel.cvut.cz/dataset/financial`

![Diagrama de la base de datos](https://relational.fel.cvut.cz/assets/img/datasets-generated/financial.svg)

## Sintaxis básica

```sql
SELECT  COLUMNAS_SEPARADAS_POR_COMAS
FROM    TABLAS_SEPARADAS_POR_COMAS
WHERE   CONDICIONES;
```

## Operaciones de consulta sencillas para el filtrado de filas y columnas

Ejemplo. Mostrar todos los datos de todos los clientes:

In [ ]:
%%sql
SELECT  * 
FROM    client;

La consulta anterior devuelve todas las filas completas de la tabla `client`, mostrando toda la información disponible sobre cada cliente en la base de datos financiera. En algunos casos, la cantidad de datos puede ser extensa, por lo que es recomendable utilizar cláusulas adicionales como `LIMIT` para restringir el número de filas devueltas, especialmente cuando se trabaja con bases de datos grandes y se lanzan consultas exploratorias.

Ejemplo. Mostrar 10 filas con todos los datos de los clientes:

In [ ]:
%%sql
SELECT  * 
FROM    client
LIMIT   10;

El asterisco (*) en la consulta SQL se utiliza para seleccionar todas las columnas de la tabla especificada. En este caso, al usar `SELECT * FROM client;`, estamos indicando que queremos recuperar todas las columnas disponibles en la tabla `client` para cada fila que cumpla con las condiciones de la consulta (en este caso, todas las filas, ya que no se ha especificado ninguna condición adicional). Esto es útil cuando se desea obtener una vista completa de los datos almacenados en la tabla sin necesidad de enumerar cada columna individualmente.

Para mostrar solo columnas específicas, podemos modificar la consulta para seleccionar únicamente las columnas de interés. Para ello, en lugar de usar el asterisco (*), listamos los nombres de las columnas que queremos recuperar, separadas por comas.

Ejemplo. Mostrar el identificador, sexo y fecha de nacimiento de los clientes:

In [ ]:
%%sql
SELECT  client_id, gender, birth_date
FROM    client
LIMIT   10;

Para el filtrado de datos en SQL se usa la cláusula `WHERE`, que permite especificar condiciones que deben cumplirse para que una fila sea incluida en el conjunto de resultados. La cláusula `WHERE` se coloca después de la cláusula `FROM` y antes de la cláusula `LIMIT`. 

Para las comparaciones, se usarán comillas simples (' ') para los valores de tipo texto o fecha. En cambio, si la columna es de tipo numérico o booleano, no se usan comillas. Para fechas, normalmente se usa el formato 'AAAA-MM-DD'.

Ejemplo. Mostrar el identificador y fecha de nacimiento de los clientes que son mujeres.

In [ ]:

%%sql
SELECT  client_id, birth_date
FROM    client
WHERE   gender = 'F'
LIMIT   10;

## Consultas con varias condiciones

### El operador lógico AND

Ejemplo. Mostrar el identificador y fecha de nacimiento de las clientas nacidas a partir del 1 de enero de 1990:

In [ ]:
%%sql
SELECT  client_id, birth_date
FROM    client
WHERE   gender = 'F'
AND     birth_date >= '1985-01-01'
LIMIT   10;

No obstante, también es posible utilizar funciones específicas para extraer partes de la fecha. Por ejemplo, en MySQL, se puede usar la función `YEAR()` para obtener el año de una fecha. Esto puede hacer que la consulta sea más legible y explícita en cuanto a la intención de filtrar por año. Más adelante, veremos funciones de fecha y hora en SQL con más detalle.

In [ ]:
%%sql
SELECT  client_id, birth_date
FROM    client
WHERE   gender = 'F'
AND     YEAR(birth_date) >= 1985
LIMIT   10;

### El operador lógico OR

El operador lógico `OR` se utiliza para combinar múltiples condiciones en una cláusula `WHERE`, de manera que si al menos una de las condiciones es verdadera, la fila será incluida en el conjunto de resultados. Esto es útil cuando se desea filtrar datos que pueden cumplir con diferentes criterios.

Ejemplo. Mostrar los clientes nacidos en 1985 ó 1987:

In [ ]:
%%sql
SELECT  client_id, birth_date
FROM    client
WHERE   YEAR(birth_date) = 1985 
OR      YEAR(birth_date) = 1987
LIMIT   10;

Cuando se usan múltiples condiciones en el operador `OR`, puede ser muy pesado escribir la misma función varias veces. En estos casos, es más eficiente usar el operador `IN`, que permite especificar una lista de valores para comparar con una columna determinada.

Ejemplo. Mostrar los clientes nacidos en 1985 ó 1987 usando el operador IN:

In [ ]:
%%sql
SELECT  client_id, birth_date
FROM    client
WHERE   YEAR(birth_date) IN (1985, 1987)
LIMIT   10;

Ejemplo. Mostrar los clientes que no han nacidos ni en 1985 ni 1987 usando el operador IN:

In [ ]:
%%sql
SELECT  client_id, birth_date
FROM    client
WHERE   YEAR(birth_date) NOT IN (1985, 1987)
LIMIT   10;

### Consultas de un rango de valores

Para consultas que búscan valores dentro de un rango específico, se puede definir el rango con operadores de comparación como `>=` y `<=`. Sin embargo, el operador `BETWEEN` es una opción conveniente. Este operador permite especificar un rango de valores y devuelve las filas donde la columna cumple con esa condición.

Ejemplo. Mostrar los clientes nacidos entre 1980 y 1990 (ambos inclusive):

In [ ]:
%%sql
SELECT  client_id, birth_date
FROM    client
WHERE   YEAR(birth_date) BETWEEN 1980 AND 1990
LIMIT   10;

La opción de definir el rango explícitamente con los operadores de comparación también es válida:

In [ ]:
%%sql
SELECT  client_id, birth_date
FROM    client
WHERE   YEAR(birth_date) >= 1980 AND YEAR(birth_date) <= 1990
LIMIT   10;